* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*     font-size: large; */

    --border-width: 1px;
}

.full-page {
    display: grid;
    min-height: 100vh;
    grid-template-rows: min-content auto min-content;
    width: 100%;
    /* background-color: red; */
}

ul {
    list-style: none;
}

.full-page .content {
    display: grid;
    grid-template-columns: min-content auto;
}

.sidebar {
    border-right: var(--border-width) solid LightGray;
}

.sidebar .sidebar-list {
    padding: 20px 7px 100px 10px;
    /* border-bottom: var(--border-width) solid black; */
}

.sidebar-empty {
    display: grid;
    grid-template-columns: 5px auto;
}

.empty-col2 {
    border-top: var(--border-width) solid LightGray;
    padding: 5px;
}

.empty-col2 .last-time p {
    font-size: small;
}

.header-upper-2 {
    text-align: center;
    color: ForestGreen;
/*     animation: 5s slide-right; */
   overflow: hidden; 
    background-color: LightGray;
    
}




.header-upper {
    text-align: center;
    color: ForestGreen;
    animation: 5s slide-right;
    overflow: hidden;
    background-color: LightGray;
    
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 100%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.header {
    border: var(--border-width) solid LightGray;
    padding: 5px 5px 0px 5px;
/*     margin: 5px 5px 0px 5px; */
    background-color: LightGray;
}
.footer {
    border: var(--border-width) solid LightGray;
    text-align: center;
    font-size: small;
    padding: 5px 5px 5px 5px;
/*     margin: 5px 5px 5px 5px; */
    background-color: LightGray;
}

.header-lower {
    margin-top: 5px;
    display: grid;
    color: DarkBlue;
    grid-template-columns: min-content auto  min-content;
}

.header-text {
    padding: 7px;
   font-family: 'Roboto'; 
}

.header-text ul li h1 {
    font-size: 1.3rem;
}

.header-text ul li p {
  font-family: 'Roboto'; 
    font-size: 1.1rem;
}

.main-content ul li h1 {
    font-size: 1.15rem; 
}


/* button { 
    background-color: rgb(51, 102, 255);
    color: white;
    border-radius: 5px;
    margin: 0px 5px 5px 5px;
    padding: 5px 10px;
}

*/
/* @media screen and (min-width: 400px) {
    .header-lower {
        display: grid;
        grid-template-columns: min-content auto min-content;
    }
} */

/* .search form div {
    width: 25%;
} */

img {
    height: 7rem;
     width: 6rem;
}

.footer {
    margin-top: 0;
/*     margin-bottom: 5px; */
}


.main-content {
    padding: 20px 7px 7px 7px;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}


.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

